* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  background-color: #333;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}
header h1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 0rem;
  animation: fadeIn 2s ease-in-out forwards;
}

nav ul {
  gap: 2.5rem;
  list-style: none;
  margin-top: 1rem;
}
nav ul li a {
  color: #fff;
  font-size: 1.7rem;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ccc;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.2rem;
  position: relative;
}

main {
  padding: 3rem 0;
  text-align: center;
}

main h2 {
  font-size: 3.2rem;
  font-weight: 500;
  color: #343a40;
}

main p {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 1.5rem;
  color: #666;
}

@media (max-width: 576px) {
  header h1 {
    font-size: 3.5rem;
  }
  nav ul {
    text-align: center;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 4.5rem;
  }
  header p {
    font-size: 1.8rem;
  }
  main h2 {
    font-size: 3rem;
  }
  main p {
    font-size: 1.9rem;
  }
  nav ul {
    text-align: center;
  }
}
@media (min-width: 991px) {
  nav ul {
    text-align: center;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #e9ecef;
  border-radius: 8px;
}

form label {
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  max-width: 600px;
  padding: 0.75rem;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
}

form button {
  padding: 0.75rem 2rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.container-img {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.card-container .card {
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}
.card-container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.card-container .card-img-top {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}
.card-container .card-img-top iframe {
  border: none;
}
.card-container .card img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}
.card-container .card h3 {
  color: #333;
  margin: 1rem 0;
  font-size: 1.5rem;
}
.card-container .card p {
  color: #555;
  margin: 0 1rem 1rem;
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/*# sourceMappingURL=style.css.map */
