// Estilos exclusivos para la página 404
.error-page {   // Cambié el nombre a "error-page"
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    h1 {
        font-size: 5rem;
        margin: 20px 0;
    }

    p {
        font-size: 1.2rem;
    }

    .error-img {
        width: 100%;
        max-width: 700px;
        height: auto;
        margin: 20px 0;
        max-height: 700px;
        object-fit: contain;
        z-index: 1;
    }

    .home-link {
        text-decoration: none;
        background-color: #3F7A36;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.1rem;
        margin-top: 20px;
        z-index: 1;

        &:hover {
            background-color: rgb(29, 52, 32);
            color: white;
        }
    }
}
